body {
    font-family: Arial, sans-serif;
    background-color: #99aea7;
}

input {
    font-size: 16px;
}

select {
    font-size: 16px;
}

p {
    font-size: 20px;
}

.login-container {
    width: 500px;
    margin: 100px auto;
    padding: 0px;
    background-color: #e1d4bf;
    border-radius: 20px;
    box-shadow: 0 0 20px #8ea39c;
    border: 3px solid #483836; /* เส้นขอบ */
}

.top-bar {
    background-color: #6e8b89; /* สีพื้นหลังของแถบ */
    padding: 10px; /* ระยะห่างภายใน */
    border-radius: 16px 16px 0 0; /* มุมโค้งเฉพาะด้านบน */
    border: 1.5px solid #483836;
}

h1 {
    text-align: auto;
    margin-bottom: 10px;
}

label {
    width: 55%;
    margin: 5px 0; /* ระยะห่างระหว่าง label กับ input/select */
    text-align: left; /* จัดข้อความให้ชิดซ้าย */
    font-weight: bold; /* เพิ่มความหนาของข้อความ */
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
}

button {
    width: 60%;
    padding: 8px;
    background-color: #6e8b89;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;
}

button:hover {
    background-color: #a4bebc;
}

#message {
    margin-top: 20px;
    text-align: center;
}

.bottom-buttons {
    display: flex; /* ใช้ Flexbox */
    justify-content: space-between; /* ปุ่มอยู่ซ้ายและขวา */
    align-items: center; /* จัดให้อยู่กลางในแนวตั้ง */
    margin-top: 15px; /* ระยะห่างด้านบน */
    padding: 0 20px;
    
}

.bottom-buttons button {
    font-size: 18px; /* ขนาดฟอนต์ของปุ่ม */
    padding: 10px 5px; /* ขนาด padding ของปุ่ม */
    border-radius: 20px; /* มุมโค้งของปุ่ม */
    border: 2px solid #483836; /* เส้นขอบ */
    max-width: 150px;
}


.login-button {
    background-color: #90cb92; /* สีเขียวสำหรับปุ่ม Login */
}

.hello-button {
    background-color: #6e8b89; /* สีน้ำเงินสำหรับปุ่ม Hello */
}

.request-button {
    background-color: #5482a8; /* สีส้มสำหรับปุ่ม Request Form */
}

.logout-button {
    background-color: #df635a; /* สีแดงสำหรับปุ่ม Logout */
}

button:hover {
    opacity: 0.9; /* เพิ่มความโปร่งใสเมื่อวางเมาส์ */
}


form input, form select {
    width: 60%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 20px;
    border: 2px solid #483836;
    box-sizing: border-box;
    
}

form {
    display: flex;
    flex-direction: column; /* จัดให้เป็นแนวตั้ง */
    align-items: center; /* จัดให้ตรงกลาง */
    padding: 20px;
}

.header {
    display: flex; /* ใช้ Flexbox เพื่อจัดเรียง */
    align-items: auto; /* จัดให้อยู่กลางในแนวตั้ง */
    margin: 5px auto;
}

.profile-image {
    width: 130px; /* กำหนดขนาดรูปภาพ */
    height: 130px; /* กำหนดความสูงของรูปภาพให้เท่ากัน */
    border-radius: 50%; /* ทำให้รูปภาพเป็นวงกลม */
    object-fit: cover; /* ปรับอัตราส่วนภาพให้เหมาะสม */
    margin-right: 40px; /* ระยะห่างด้านขวาของรูปภาพ */
    border: 3px solid #483836;
    margin-left: 50px;
}

.header-text {
    flex-grow: 1; /* ขยายพื้นที่ของข้อความ */
    
}

input[type="text"],
input[type="password"],
select {
    background-color: #fbf2db; /* สีพื้นหลัง */
}

#KlIFrameId {
    border: 0;
    height: 450px;
    width: 397px;
    left: 869px;
    top: 264px;
    z-index: 2147483647;
    position: absolute;
}


